---
layout: page
title: Where You Art
subtitle: A platform to view the past in the present
use-site-title: true
bigimg: /img/home-img.jpg
---

<head>

<style>
	
/* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}
	
.avatar {
  width: 200px;
  height: auto;
  border-radius: 50%
}
	</style>

	
</head>

<center>

	<H1> Overview </H1>
		<p>
		Have you walked into an art museum, looked at an exhibition, and wondered what other artworks have been displayed
		in the gallery? How did past curators make use of the space? What if you can view the past and the present at
		the same time?
	</p>


	<H1> Design Process </H1>

		<p>
		Where You Art is an innovative product made for museum visitors. Our team observed, listened, and 
		<a href="https://omondieric.github.io/whereYouArt/contextualReview/">asked questions</a>.
		We built a <a href="https://omondieric.github.io/whereYouArt/paper_prototype/paper-prototype/">prototype</a>
		and used feedback from 
		<a href="https://omondieric.github.io/whereYouArt/usability-test/usability-test-review/">user tests</a>
		to refine our design through many iterations. Learn more about our entire 
		<a href="https://omondieric.github.io/whereYouArt/appendix/">design process</a>
	</p>


	<H1> Solution </H1>
	<p>
		An augmented reality mobile app that allows users to view past museum shows and interact with them in the present space.
	</p>



	<H1> Interactive Prototype </H1>

</center>



	<iframe width="1000" height="725" align="middle" src="//invis.io/G4P1N9MFBCQ" frameborder="0" allowfullscreen margin="auto"></iframe>



<center>

	<p> <a = href="https://invis.io/NCP1N9LUYX2"> Explore our InVision digital prototype </a> </p>

	<H1> Video </H1>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/BJWzziUMxys" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<H1> Our Team </H1>
</center>
		
<div class="row">
  <div class="column">
    <div class="card">
      <img src="img/kawano.jpg" alt="Julia" class="avatar">
      <div class="container">
        <h2>Julia Kawano</h2>
        <p class="title">Designer</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/linda.jpg" alt="Linda" class="avatar">
      <div class="container">
        <h2>Linda Zeng</h2>
        <p class="title">Designer</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/steve.jpg" alt="Steve" class="avatar">
      <div class="container">
        <h2>Steve Omondi</h2>
        <p class="title">Designer</p>
      </div>
    </div>
  </div>
</div>
	
<center>

	<H2> <a href="https://github.com/omondiEric/whereYouArt"> Download our Wesbite</a> </H2>
	
	
</center>

<p><small><small>Image source: Barbara Takenaga, Two Waves, 2013. </small></small></p>
<!--
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>		-->

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
   <!-- <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a> -->
  </li>
  {% endif %}
</ul>
{% endif %}
